a {
	text-decoration: none;
	color: #000000;
	font-weight: 900;
}

a:hover {
	color: #007FFF;
	font-weight: 900;
}

p {
	font-size: 1.5rem;
	line-height: 3rem;
	margin-block-start: 1rem;
}

ul {
	padding: 0;
}

body {
	max-width: 1920px;
	margin: 0 auto;
}

.row {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.box {
	height: 100%;
}

/* Horizontal Rule */

hr {
	margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* Header */

header a {
	font-weight: 600;
}

header a:hover {
	font-weight: 600;
}


/* Footer */

.footer a {
	font-weight: 300;
}


/* Section */

.page-section {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.label {
	font-size: 1rem;
	line-height: 2rem;
	font-weight: bold;
}

.sub-label {
	font-size: 1rem;
	line-height: 2rem;
	font-weight: normal;
}

/* Images */

.responsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail {
	height: auto;
}

.thumbnail h2 {
	transition: all .3s ease-in-out;
	font-weight: 900;
	color: #000000;
}

.thumbnail:hover h2 {
	transition: all .3s ease-in-out;
	font-weight: 900;
	color: #007FFF;
}

/* Video */

.videoWrapper {
	position: relative;
	padding-bottom: 54%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
