* {
	
}

html {
	font-size: 1rem;
	font-weight: 400;
	color: #888888;
	background: #ffffff;
	background: linear-gradient(333deg, rgba(221,221,221,1) 0%, rgba(238,238,238,1) 100%);
	background-attachment: fixed;
	width: auto;
	cursor: none;
}

#cursor {
	display: hide;
}

/* Typography */

a {
	text-decoration: none;
	color: #00A2FF;
}

a:hover {
	color: #007fff;
	cursor: none;
}

.text {
	line-height: 1.75rem;
	display: block
}

h1 {
	color: #444444;
	font-size: 6rem;
	font-weight: 300;
	font-family: "Cormorant Garamond", serif;
	font-optical-sizing: auto;
	font-style: normal;
	margin-top: 0px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-wrap: pretty; /* Modern browsers only */
	-webkit-hyphens: auto;
	hyphens: auto;
}

h2 {
	font-size: 3.5rem;
	color: #444444;
	font-weight: 300;
	font-family: "Cormorant Garamond", serif;
	font-optical-sizing: auto;
	font-style: normal;
	margin-top: 0px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-wrap: pretty; /* Modern browsers only */
	-webkit-hyphens: auto;
	 hyphens: auto;
}

h3 {
	font-size: 1.5rem;
	color: #444444;
	font-weight: 400;
	font-family: "Cormorant Garamond", serif;
	font-optical-sizing: auto;
	font-style: normal;
	margin-top: 0px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-wrap: pretty; /* Modern browsers only */
	-webkit-hyphens: auto;
	 hyphens: auto;
}

h4 {
	font-size: 1.2rem;
	color: #444444;
	font-weight: 400;
	font-family: "Cormorant Garamond", serif;
	font-optical-sizing: auto;
	font-style: normal;
	margin-top: 0px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-wrap: pretty; /* Modern browsers only */
	-webkit-hyphens: auto;
	 hyphens: auto;
}

body {
	max-width: 1920px;
	margin: 0 auto;
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

button:hover {
	cursor: none;
}

/* Horizontal Rule */

hr {
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* Lists */

ol {
	margin: 0;
}

ul {
	margin: 0;
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 10px;
}

li {
	list-style-type: disc;
	display: list-item;
	line-height: 1.75rem;
	padding-bottom: 1rem;
}

/* Header */

header {
	box-sizing: border-box;
	height: auto;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0;
	position: fixed;
}

header a {
	color: #444444;
}

#header-bar {
	background: rgba(255, 255, 255, 0.50);
	line-height: 30px;
	vertical-align: middle;
	padding: 16px 8px;
	backdrop-filter: blur(10px);
	z-index: 1000;
	width: 100%;
	margin: 0;
	border-bottom: rgba(0, 0, 0, 0.10) 1px solid;
}

#header-links {
	display: none;
}

#header-links a {
	display: inline-block;
	margin-left: 16px;
	float: right;
}

/* Hero */

.hero  {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.page-hero {
	padding-top: 64px;
}

/* Post */

#post-title {
	margin: 0;
	text-align: center;
	color: #444;
	overflow: hidden;
}

#post-progress {
	height: 4px;
	background: #444;
	position: relative;
	bottom: 2px;
	width: 0;
	box-sizing: border-box;
	border-radius: 2px;
}

#back {
	display: block;
	min-height: 30px;
	min-width: 30px;
}

#back-label, #share-label {
	display: none;
}

/* Contact */

#contact {
	
}

/* Footer */

footer {
	padding: 6rem 1rem;
}


/* Section */

.layout {
	
}

.page-section {
	margin: 3rem auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

/* Filters */

#filters {
	margin-bottom: 6rem;
	display: none;
}

.filter {
	font-family: "Work Sans", sans-serif;
	color: #444;
	display: block;
	background: transparent;
	border: none;
	padding: 8px;
	border-left: none;
	text-align: left;
	border-left: #007fff 0px solid;
	transition: all 0.2s;
	border-radius: 4px;
	width: 100%;
}

.filter hr {
	margin: 0 4px;
}

.filter:hover {
	color: #007fff;
	border-left: #007fff 4px solid;
	box-sizing: border-box;
	transition: all 0.2s;
	background: #fff;
}

.filter-selected {
	color: #007fff;
	font-weight: 600;
	border-left: #007fff 4px solid;
	box-sizing: border-box;
	transition: all 0.2s;
	background: #fff;
}

/* Project */

#projects {
	text-align: center;
}

.project {
	display: inline-block;
	margin-bottom: 2rem;
	padding-left: 0;
	padding-right: 0;
}

/* Buttons */

.primary-button {
	padding: 0px 32px;
	height: 30px;
	border-radius: 16px;
	line-height: 30px;
	color: #eee;
	background: #444444;
}

.primary-button:hover {
	color: #eee;
	background: #007fff;
}

.secondary-button {
	padding: 0px 32px;
	height: 30px;
	border-radius: 16px;
	border: #444444 2px solid;
	box-sizing: border-box;
	line-height: 25px;
}

.secondary-button:hover {
	
	border: #007fff 2px solid;
}

/* Images */

.responsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail {
	display: inline-block;
}

.thumbnail img {
	margin-bottom: 8px;
	transition: 0.2s ease;
	filter: grayscale(0) contrast(1) brightness(1);
	z-index: 1;
}

.thumbnail-title {
	color: #444444;
	margin: 0;
}

.thumbnail-tags {
	margin: 0;
	font-size: 12px;
}

.thumbnail-tag {
	color: #999;
	margin: 0;
	display: inline-block;
	margin-right: 4px;
}

.thumbnail:hover .thumbnail-title {
	color: #007fff;
}

.thumbnail:hover img {
	scale: 1.02;
	transition: 0.2s ease;
	filter: grayscale(0) contrast(1) brightness(1);
	z-index: 1;
}

/* State */

.rounded {
	border-radius: 16px;
}

.hidden {
  display: none;
}

/* Video */

.videoWrapper {
	position: relative;
	padding-bottom: 54%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	height: 0;
	overflow: hidden;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.caption {
	font-size: 0.875rem;
	margin: 1rem;
	color: #999999;
}

#share-confirm {
	box-sizing: border-box;
	height: auto;
	padding: 16px 32px;
	border-radius: 40px;
	background: rgba(181, 219, 84, 0.85);
	text-align: center;
	color: #444;
	backdrop-filter: blur(10px);
	position: absolute;
	margin: 1rem 48px;
	left: 0;
	right: 0;
}

#prev-label {
	text-align: left;
}

#next-label {
	text-align: left;
}

.empty {
	display: none;
}

@media only screen and (min-width: 48em) {
	
}

@media only screen and (min-width: 62em) {
	
	/* Cursor */
	
	#cursor {
		position: absolute;
		width: 24px;
		height: 24px;
		background: transparent;
		border: #333 2px solid;
		border-radius: 50%;
		top: var(--y, 0);
		left: var(--x, 0);
		transform: translate(-50%, -50%);
		z-index: 2;
		transition: width 0.2s ease, height 0.2s ease;
		pointer-events: none;
	}
	
	/* Header */
	
	header {
		box-sizing: border-box;
		width: 100%;
		top: 0px;
		position: fixed;
	}
	
	header a {
		color: #444444;
	}
	
	#header-bar {
		line-height: 30px;
		vertical-align: middle;
		padding: 16px 8px;
	}
	
	#header-links {
		display: block;
		height: 30px;
	}
	
	#header-links a {
		display: inline-block;
		margin-left: 16px;
		float: right;
	}
	
	#back-label, #share-label {
		display: inline;
	}
	
	/* Contact */
	
	#contact {
		height: 6rem;
	}
	
	/* Filters */
	
	#filters {
		margin: 0;
		display: inline-block;
	}
	
	/* State */
	
	.fixed {
	  position: fixed;
	}
	
	/* Section */
	
	.layout {
	
	}
	
	.page-section {
		margin: 6rem auto;
	}
	
	/* Project */
	
	#projects {
		text-align: left;
	}
	
	.project {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	
	.thumbnail img {
		margin-bottom: 8px;
		transition: 0.2s ease;
		filter: grayscale(1) contrast(.5) brightness(1.5);
		z-index: 1;
	}
	
	#prev-label {
		text-align: left;
	}
	
	#next-label {
		text-align: right;
	}
	
	.empty {
		display: block;
		margin-top: 60px;
		margin-bottom: 100px;
		background: #ddd;
	}
}

@media only screen and (min-width: 75em) {

}
